:root {
  --black: black;
  --background: #1c1e21;
  --white: #fff;
  --gray-100: #dedede;
  --gray-200: #ad9fa1;
  --gray-500: #808080FF;
  --gray-800: #343434;

  --pink-100: #c299ff;
  --pink-50: #decdfa;

  --lightlateblue-50: #fff;
  --lightlateblue-100: #e4e4fa;
  --lightlateblue-800: #52527a;

  --darkslateblue-300: #666699;
  --darkslateblue-400: #5c5c8a;
  --darkslateblue-500: #47476b;
  --darkslateblue-800: #3d3d5d;

  --indigo-800: #2f2836;

  --darkblue-800: #302456;

  --yellow-500: #ff8d2f;

  --bisque-100: #fcf3e5;

  --ligth-green-200: #e3eed2;
  --ligth-green-500: #bcfd84;
  --ligth-green-700: #ADFF2FFF;
  --green-500: #04d361;

  --blue-500: #1fa5f8;

  --drak-blue-800: #00008BFF;

  --drak-purple-800: #5b099b;

}
